<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fit My Way</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #6Fdcff">
    <div *ngIf="currentSlide" style="text-align: center;">
            <div>
                Intensity: {{ currentSlide.IntensityLevel }}
            </div>
    </div>
    <div style="height:320px">
        <div style="width: 10%; display: inline-block; font-size:50px; ">
          <i class="fa fa-angle-left"></i>
      </div>
      <div style="display:inline-block; width:75%; vertical-align: middle" >
        <ion-slides (ionSlideDidChange)="slideChanged()">
              <ion-slide *ngFor="let activity of activities">
                  <div style="border: 1px solid lightgray; display: inline-block; 
                    border-radius: 10%; padding: 20px; background-color: white; height: 230px; width:230px;" 
                    (click)="selectActivity(activity)" [hidden]="!showSlide">
                      <div>
                          {{ activity.Name }}
                      </div>
                      <div style="height:200px">
                        <img src="{{ activity.ImageURL }}">
                      </div>
                </div>
              </ion-slide>
          </ion-slides>
          <div *ngIf="currrentSlide" [hidden]="!currentSlide.IsPrescribed">
                <div>
                        Prescribed by: 
                </div>
                <div>
                    {{ _user.Doctor}} 
                </div>
        </div>
      </div>
      <div style="width: 10%; display: inline-block; font-size:50px;text-align:right; ">
          <i class="fa fa-angle-right"></i>
      </div>
    </div>
    <div>
        <div *ngIf="currentSlide" style="border-top: 1px solid gray; padding: 5px;">
                <div style="font-size: 24px; text-align: center">
                    <div>{{ currentSlide.Description }}</div>
                </div>
            </div>
    </div>
    <div *ngIf="currentSlide" style="text-align: center; margin-top:100px;">
            <div (click)="startActivity()"><img src="assets/imgs/button.png"></div>
    </div>
 </ion-content>