<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Fit My Way</ion-title>
        </ion-navbar>
</ion-header>

<ion-content style="background-color: #6Fdcff">
    <div style="text-align: center">
            <div style="font-size: 30px">
                    Congratulations!
            </div>
            <div style="font-size: 22px">
                You earned
            </div>
            <div style="font-size: 26px">
                87 points!
            </div>
            <div style="font-size: 22px">
                and burned
            </div>
            <div style="font-size: 26px">
                174 Calories
            </div>
            <div>
                    <button ion-button round color="Dark"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Share</button>
                    <button (click)="continue()" ion-button round color="Dark">Continue</button>
            </div>
            </div>
</ion-content>